@model User

<form action="/register" method="post" class="col-5">
    <h2 class="text-center">Register</h2>
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control">
        <span class="text-danger" asp-validation-for="Username"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control">
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="PassConfirm"></label>
        <input asp-for="PassConfirm" class="form-control">
        <span class="text-danger" asp-validation-for="PassConfirm"></span>
    </div>
    <input type="submit" value="Register" class="btn btn-warning btn-outline-dark">
</form>