@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-wrap justify-content-around">
    <h1>Your Teams</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @{foreach (Team team in Model.Teams){
                    <tr>
                        <td><a href="/@team.TeamId">@team.Name</a></td>
                    </tr>
                } }
            </tbody>
        </table>
</div>
<div class="d-flex flex-wrap justify-content-around">
    <div>
        <div>
            <p>for each team this user has</p>
        </div>
        <div>
            <p>it will be displayed in a div</p>
        </div>
    </div>
    
</div>
<div class="d-flex flex-wrap justify-content-around">
    <a href="/new/team" class="btn btn-primary">Start a new Team</a>
</div>