@{
    ViewData["Title"] = "Home Page";
}
@model League

<form action="/create/league" method="post" class="col-5">
    <h2 class="text-center">Login</h2>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <input type="submit" value="Create" class="btn btn-success btn-outline-primary">
</form>