@{
    ViewData["Title"] = "Home Page";
}
@model Team

<form action="/create/team" method="post" class="col-5">
    <h2 class="text-center">Login</h2>
    <input type="hidden" asp-for="UserId" value="@ViewBag.User.UserId">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Logo">Logo (URL)</label>
        <input asp-for="Logo" class="form-control">
        <span class="text-danger" asp-validation-for="Logo"></span>
    </div>
    <div class="form-group">
        <select asp-for="LeagueId">
            @{foreach (League l in ViewBag.AllLeagues){
                    <option value="@l.LeagueId">@l.Name</option>
                } }
        </select>
    </div>
    <input type="submit" value="Create" class="btn btn-success btn-outline-primary">
</form>